bin/sha256
bin/sha256_ll_intrinsics
bin/sha256_ll_asm
bin/sha512
bin/sha512_ll_intrinsics
bin/sha512_ll_asm
bin/test256
bin/test256_ll_intrinsics
bin/test256_ll_asm
bin/test512
bin/test512_ll_intrinsics
bin/test512_ll_asm
.*.sw[po]
