bin/sha256_*
bin/sha256_ll_intrinsics_*
bin/sha256_ll_asm_*
bin/sha512_*
bin/sha512_ll_intrinsics_*
bin/sha512_ll_asm_*
bin/test256_*
bin/test256_ll_intrinsics_*
bin/test256_ll_asm_*
bin/test512_*
bin/test512_ll_intrinsics_*
bin/test512_ll_asm_*
.*.sw[po]
sha256_compress_ppc.s
